button {
    margin: 5px;
    padding:10px 15px;
    background: var(--tg-theme-button-color);
    color:var(--tg-theme-text-color);
    border: 2px solid;
    border-radius: 4px;
    border-color: var(--tg-theme-button-color);
    outline: none;
    cursor: pointer;
}

button::after{
    margin: 5px;
    padding:10px 15px;
    background: var(--tg-theme-bg-color);
    color:var(--tg-theme-text-color);
    border: 2px solid;
    border-radius: 4px;
    border-color: var(--tg-theme-bg-color);
    outline: none;
    cursor: pointer;
}