.challenge {
    display: flex;
    flex-direction: row;
    border: 3px solid var(--tg-theme-button-color);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    height: 200px;
}
.challenge-right-module {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 70%;
}

.challenge-left-module {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 30%; 
}

img {
    width: 100%px;
    background: lightgray;
    height: 80%;
    margin:0 auto;
    background: var(--tg-theme-button-color);
}

.rewards {
    font-size: auto;
    min-height: 20%;
    display: flex;
    flex-direction: row;
    border: 3px bold black;
    border-radius: 5px;
}

.points {
    display: flex;
    width: 50%;
    text-align: start;
}

.gems {
    display: flex;
    width: 50%;
    text-align: end;
}