.challenge {
    display: flex;
    flex-direction: raw;
    border: 3px solid var(--tg-theme-button-color);
    padding: 10px;
    margin: 10px;
    width: 350px;
}
.challenge-mid-module {
    display: flex;
    flex-direction: column;
    padding: 5px;
    
}

.challenge-side-module {
    display: flex;
    flex-direction: column;
    padding: 5px;
    min-width: 30%;
}

.img {
    width: 100%;
    background: lightgray;
    height: 100px;
    margin:0 auto;
    background: var(--tg-theme-button-color);
}