.challenge {
    display: flex;
    flex-direction: row;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    margin-bottom: 10px;
    height: 200px;
    background: #000000;
}

.challenge-left-module {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.challenge-center-module {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
}

.challenge-right-module {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
}

img {
    width: 70px;
    height: 70px;
    margin:0 auto;
    background: #000000;
}

.rewards {
    min-height: 20%;
    display: flex;
    flex-direction: row;
}

.points {
    display: flex;
    width: 100%;
    text-align: center;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}

.gems-ch {
    display: flex;
    width: 100%;
    text-align: center;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}