.list-bc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  width: 90%;
}
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  margin-right: 10px;
  margin-left: 10px;
}
.v-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.number {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 40px;
}
p {
  padding-top: 0.9em;
  font-family: "Inter", sans-serif;
}
