.header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.name {
    text-align: center;
    font-size: 20px;
}

.lvl-gems {
    align-items: center;
    width: 65%;
    display: flex;
    flex-direction: row;
    border: 3px solid var(--tg-theme-button-color);
    border-radius: 5px;
}
.lvl {
    border: 3px var(--tg-theme-button-color);
    border-radius: 5px;
    padding-right: 5%;
    width: 50%;
    text-align: start;
    font-size: 20px;
    border: 3px solid var(--tg-theme-button-color);
    border-radius: 5px;
}

.gems {
    border: 3px var(--tg-theme-button-color);
    border-radius: 5px;
    padding-left: 5%;
    width: 50%;
    text-align: end;
    font-size: 20px;
}