.list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.challenge-list-head {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: center;
}

.title {
    text-align: center;
    font-size: larger;
}