.container{
    width: 200px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.progress-bar{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: black;
  }
  
.progress-bar-fill{
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border-color: black;
    transition: width 0.5s ease-out;
}
  
.progress-label {
    height: 30%;
    font-weight: bold;
}

.button {
    height:40%;
    padding:5px 10px;
    background: blue;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
  