.progress-bar{
    display: flex;
    flex-direction: column;
  }
  
  .progress-bar .line{
    height: 15px;
    background: #e8e8e8;
    border-radius: 7px;
    position: relative;
  }
  
  .progress-bar .label{
    font-size: 30px;
  }
  
  .progress-bar > .line > span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--tg-theme-button-color);
    border-radius: 10px;
  }
  
  
  @keyframes animationLoaded{
    0%{
      width: 0%;
    }
    100%{
      width: 100%;
    }
  }